<!DOCTYPE html>
<html lang="ja">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta property="og:type" content="website"/>
    <meta property="og:url" content=""/>
    <meta property="og:title" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:image" content=""/>
    <meta name="twitter:card" content="summary"/>
    <title></title>
    <link rel="stylesheet" href="css/practice.css">
  </head>
  <body>
    <header>
    </header>
    <main>
        <div id="app">
            <h1>Hello World!</h1>
            {{message}}
        </div>

        <div class="app2">
            <h1>コンソールからタグのtitleを変更</h1>
            <p v-bind:title="message">app2の文章でっせ</p>
        </div>

        <div id="app3">
            <h1>条件分岐</h1>
            <p v-if="seen">falseにすると消えるよ</p>
            <p v-else>こんにちは</p>
        </div>

        <div id="app4">
            <h1>forループでコンソールからリストの内容を追加</h1>
            <li v-for="todo in todos">{{ todo.text }}</li>
        </div>

        <div id="app5">
            <h1>ボタンを押すと文章を反転させる</h1>
            <p>{{message}}</p>
            <button v-on:click="reverseMessage">文字の反転</button>
        </div>

        <div id="app6">
            <h1>テキストボックスの内容がpタグの中身と連動</h1>
            <p>入力してね</p>
            <p>{{message}}</p>
            <input v-model="message">
        </div>

        <div id="change_sentence">
            <h1>ボタンをクリックして文を変える</h1>
            <p>{{change_sentence}}</p>
            <input v-model="sentence">
            <button v-on:click="change">文を変更</button>
        </div>

        <div id="vue_style">
            <h1>Vue.jsでSyleを指定</h1>
            <p v-bind:style="style">こんにちは、世界</p>
        </div>

        <div id=selectbox>
            <h1>セレクトボックス</h1>
            <table border="1">
                <thead>
                    <tr>
                        <th>選択</th>
                        <th>結果</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <select v-model="select">
                                <option value="Vue.js">Vue.js</option>
                                <option value="JavaScript">JavaScript</option>
                                <option value="HTML">HTML</option>
                            </select>
                        </td>
                        <td>
                            <p>{{ select }}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div id="checkbox">
            <h1>チェックボックス</h1>
            <table border="1">
                <thead>
                    <tr>
                        <th>チェックボックス</th>
                        <th>結果</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <label><input type="checkbox" v-model="food.sushi">寿司</label>
                            <label><input type="checkbox" v-model="food.tenpura">天ぷら</label>
                        </td>
                        <td>
                            <p>{{ food }}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="checkbox2">
            <h1>チェックボックス２</h1>
            　<table border="2">
                <thead>
                    <tr>
                        <th>チェックボックス</th>
                        <th>結果</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <label><input type="checkbox" value="☺️" v-model="expressions">笑い</label>
                            <label><input type="checkbox" value="😭" v-model="expressions">泣き</label>
                        </td>
                        <td>
                            <p v-for="expression in expressions">{{ expression }}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="radio">
            <h1>ラジオボタン</h1>
            <table border="1">
                <thead>
                    <tr>
                        <th>選択</th>
                        <th>結果</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <label><input type="radio" value="car" v-model="vehicles">自動車</label>
                            <label><input type="radio" value="airplane" v-model="vehicles">飛行機</label>
                        </td>
                        <td>
                            <p>{{ vehicles }}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


    </main>
    <footer>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/practice.js"></script>
  </body>
</html>