<!DOCTYPE html>
<html lang="ja">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta property="og:type" content="website"/>
    <meta property="og:url" content=""/>
    <meta property="og:title" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:image" content=""/>
    <meta name="twitter:card" content="summary"/>
    <title></title>
    <link rel="stylesheet" href="practice.css">
  </head>
  <body>
    <header>
    </header>
    <main>
        <div id="app">
            <h1>Hello World!</h1>
            {{message}}
        </div>

        <div class="app2">
            <h1>コンソールからタグのtitleを変更</h1>
            <p v-bind:title="message">app2の文章でっせ</p>
        </div>

        <div id="app3">
            <h1>条件分岐</h1>
            <p v-if="seen">falseにすると消えるよ</p>
        </div>

        <div id="app4">
            <h1>forループでコンソールからリストの内容を追加</h1>
            <li v-for="todo in todos">{{ todo.text }}</li>
        </div>

        <div id="app5">
            <h1>ボタンを押すと文章を反転させる</h1>
            <p>{{message}}</p>
            <button v-on:click="reverseMessage">文字の反転</button>
        </div>

        <div id="app6">
            <h1>テキストボックスの内容がpタグの中身と連動</h1>
            <p>入力してね</p>
            <p>{{message}}</p>
            <input v-model="message">
        </div>

        <div id="change_sentence">
            <h1>ボタンをクリックして文を変える</h1>
            <p>{{change_sentence}}</p>
            <input v-model="sentence">
            <button v-on:click="change">文を変更</button>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="practice.js"></script>
    </main>
    <footer>
    </footer>
  </body>
</html>